/* You can add global styles to this file, and also import other style files */
clr-icon
    margin-top: -2px


h2:after
    content: ''
    display: block
    height: 2px
    width: 50px
    background-color: #ddd

router-outlet + *
    display: inherit

ngx-charts-legend header
    display: block
    background-color: inherit
    color: inherit
    flex: initial !important
    height: auto